@tailwind base;
@tailwind components;
@tailwind utilities;

#wp-devbench-dashboard {
  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;

      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;

      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;

      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;

      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;

      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 240 10% 3.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;

      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;

      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;

      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }
  }

  @layer components {
    .shadow-right {
      @apply shadow-none;
      box-shadow: 4px 0 5px -2px rgba(0, 0, 0, 0.1);
    }

    .shadow-bottom {
      @apply shadow-none;
      box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.1);
    }

    #country-table {
      th,td {
        min-width: 120px;
      }

      /* Add your custom component styles here */
      .cell-onboarding,
      .cell-onboarding-fx-cfds,
      .cell-onboarding-stocks,
      .cell-onboarding-crypto,
      .cell-onboarding-crypto-perps,
      .cell-onboarding-crypto-staking,
      .cell-onboarding-wallet,
      .cell-onboarding-spread-bet,
      .cell-apps,
      .cell-advertising,
      .cell-advertising-fx,
      .cell-advertising-fx-cfds-local-language,
      .cell-advertising-fx-cfds-english,
      .cell-advertising-fx-cfds-active-channels,
      .cell-advertising-fx-cfds-google-ads-allowed,
      .cell-advertising-fx-cfds-meta-ads-allowed,
      .cell-advertising-fx-cfds-apple-search-ads-allowed,
      .cell-advertising-fx-cfds-affiliate-allowed,
      .cell-advertising-fx-cfds-tradingview-ex-allowed,
      .cell-advertising-crypto,
      .cell-advertising-crypto-local-language,
      .cell-advertising-crypto-english,
      .cell-advertising-crypto-active-channels,
      .cell-advertising-crypto-google-ads-allowed,
      .cell-advertising-crypto-meta-ads-allowed,
      .cell-advertising-crypto-apple-search-ads-allowed,
      .cell-advertising-crypto-affiliate-allowed,
      .cell-entities,
      .cell-entities-fx-cfds,
      .cell-entities-stocks,
      .cell-entities-crypto,
      .cell-entities-wallet {
        @apply bg-slate-100;
      }

      th.cell-name {
        @apply shadow-bottom;
      }

      .cell-name {
        @apply sticky left-0 z-10 bg-gradient-to-r from-slate-100 to-slate-200 border-r border-gray-200 shadow-right;
      }
    }

  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground box-border;
    }
  }

  @layer utilities {
    .min-h-screen {
      min-height: 100vh; /* Fallback */
      min-height: 100dvh;
    }
    .h-screen {
      height: 100vh; /* Fallback */
      height: 100dvh;
    }
  }
}
